/*
* All about header custom css
*/
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 80px;
  background: $secondBackgroundColor;
  h1 {
    color: $mainFontColor;
  }
}
