/*
* This files should contians all common variables to be used between *.scss files
* the _ in the name means it's a partial file dude! So it will not be generated as a _variable.css 👌
*/

$mainFontColor: #000;
$mainBackgroundColor: #FFF;
$secondBackgroundColor: #0FF;
$footer-background-color: #FFF;
$mobiPink : #FE3EA6;
$mobiGreen : #66EE95;

$partners: (
  mobicoop: (
    base: rgba(217, 0, 0, 0.5),
    url: 'www.roulezmalin.com'
  ),
  ouestgo: (
    base: rgba(54, 81, 255, 0.5),
    url: 'test.ouestgo.fr'
  ),
  itinisere: (
    base: rgba(102, 255, 76, 0.5),
    url: 'www.tedicov.fr'
  ),
  tictactrip: (
    base: rgba(255, 223, 211, 1),
    url: 'covoiturage-libre.fr'
  )
);
