<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Welcome!{% endblock %}</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
   {{encore_entry_link_tags('app') }}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block stylesheets %}{% endblock %}
</head>
<body>
  <nav class="navbar has-shadow commonNav">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="../">
          <img class="logo" src="{{asset('images/logo.jpg')}}" alt="Bulma: a modern CSS framework based on Flexbox"/>
        </a>

          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>

      </div>
      <div class="navbar-menu" id="navMenu">
        <div class="navbar-end">
          {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
          <div class="buttons">
            <a href="{{ path('user_sign_up') }}" class="button is-primary">
              <strong>{% trans from 'ui' %}menu.signup{% endtrans %}</strong>
            </a>
            <a href="{{ path('user_login') }}" class="button is-light">
              {% trans from 'ui' %}menu.login{% endtrans %}
            </a>
          </div>
          {% else %}
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    {% trans from 'ui' %}menu.account{% endtrans %}
                </a>
                <div class="navbar-dropdown">
                  <a href="{{ path('user_profile') }}" class="navbar-item">
                      {% trans from 'ui' %}menu.profile{% endtrans %}
                  </a>
                  <hr class="navbar-divider">
                  <a href="{{ path('logout') }}" class="navbar-item">
                      {% trans from 'ui' %}menu.logout{% endtrans %}
                  </a>
              </div>
            </div>
          {% endif %}
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div id="app">
    {% block body %}{% endblock %}
  </div>

 
</body>
<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Covivo</strong> by <a href="https://www.roulezmalin.fr">Covivo team</a>. The source code is licensed
      <a href="#">AGPL3</a>. The website content
      is licensed <a href="#">AGPL3 too</a>.
    </p>
  </div>
</footer>
  {{ encore_entry_script_tags('app') }}
{% block javascripts %}{% endblock %}
</html>
